{% extends 'base.html'%}

{% block content %}
<div class="col md-6 offset-md-3">

    <h1>Login</h1>
    <br>
</div>

<form method="POST" action="{% url 'home' %}" >
    {% csrf_token %}
  <div class="mb-3">
    <label for="input name" class="form-label">Username</label>
    <input type="text" class="form-control" id="input name" name="username" placeholder="Username" required>

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter password" required>
  </div>
  <div class="mb-3 form-check">

  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>

</form>

{% endblock%}